<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div>
		<div th:if="${param.error}">Invalid username and password.</div>
		<form th:action="@{/login}" method="post">
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"/></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password"/></td>
				</tr>
				<tr>
					<td><input type="submit" value="Sign In" /></td>
					<td></td>
				</tr>
			</table>
		</form>
		<a  href="#"
			th:href="@{/signup}">Sign Up</a>


	</div>

</body>
</html>